<header class="cont-header">
        <div class="notificacion">
           <p class="noticia-promo">
           </p>
           <a href="/sale" class="noticia-promo-link">Detalles</a>
       </div>
       
                <div class="nav-header">
                    <nav class="navbar navbar-light navbar-expand-lg navbar-dark bg-dark" style="background-color: #1b1b1b !important;">
                        <a class="navbar-brand" href="#"></a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                          <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNavDropdown">
                          <ul class="navbar-nav">
                            <li class="nav-item">
                              <a class="nav-link" href="/">INICIO<span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" href="/actividades">ACTIVIDADES</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/registrate">SUMATE YA!</a>
                            </li>
                                 </a>
                            <li class="nav-item">
                                <a class="nav-link" href="/contacto">CONTACTO</a>
                            </li>
                                </a>
                            </li>
                          </ul>
                        </div>
                    </nav>
                    </div>
</header>